
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  border: none;
}

#color{
  color: white;
  text-decoration: none;
}
.card{
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
 }

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-product {
  color: white;
  overflow: hidden;
  height: 400px;
  width: 1000px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-left: 10%;

}


.card-product img {
  height: 100%;
  width: 400px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-product h1 {

}

.card-product .card-product-infos {
  padding: 0px;
  margin: 200;
  align-items: center;

}
