.navbar-lewagon {
  justify-content: space-between;
  background: #f5ebe0;
  margin-bottom: 0
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  height: 50%;
  border-radius: 50%;
}


