#animal {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px; /* Ajustez ces valeurs pour positionner l'élément animal sur la carte */
  left: 10px; /* Ajustez ces valeurs pour positionner l'élément animal sur la carte */
  z-index: 999;
}
