
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,500&family=Noto+Sans+Glagolitic&display=swap');

h1,h4{
  font-family: 'Lora', italic;
}

h2,h3{
  font-family: 'Noto Sans Glagolitic', sans-serif;
}


p{
  font-family: 'Lora', serif;
}
